* {
  font-size: x-large;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: hsl(20, 2%, 67%);
  position: relative;
  font-family: sans-serif;
  text-align: center;
}
a{
  text-decoration: none;
  color: black;
}
header {
  background-color: hsl(236, 95%, 77%);
  width: 100%;
}
h1 {
  text-transform: uppercase;
  font-size: 20pt;
}
header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
textarea {
  height: 200px;
  width: 100%;
  resize: none;
  border: none;
  outline: none;
}
section {
  position: absolute;
  top: calc(250%);
  left: calc(50% - 250px);
}
.buttons {
  margin-top: 10px;
}
.buttons > button {
  padding: 10px;
}
